.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: darkgray;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: lightslategray;
    background-color: transparent;
    text-decoration: underline;
  }

  .responsive {
    max-width: 100%;
    height: auto;
  }

.nsa_logo {
  border-style: groove;
  background-color:white;
  /*background-color: #d9e1f2;*/
}

.nsa_text {
  /*color:#094584;*/
  color:#940731;
  font-size:115%;
}

.responsive{
  width: auto;
  height: 100%;
}
