@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: darkgray;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: lightslategray;
    background-color: transparent;
    text-decoration: underline;
  }

  .responsive {
    max-width: 100%;
    height: auto;
  }

.nsa_logo {
  border-style: groove;
  background-color:white;
  /*background-color: #d9e1f2;*/
}

.nsa_text {
  /*color:#094584;*/
  color:#940731;
  font-size:115%;
  font-family: 'Montserrat', sans-serif;
}

.responsive{
  width: auto;
  height: 100%;
}

.dropdown{
  background-color: #940731;
  font-size: large;
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

ul {
  font-family: 'Montserrat', sans-serif;
}

li {
  font-family: 'Montserrat', sans-serif;
}

ol {
  font-family: 'Montserrat', sans-serif;
}
a {
  font-family: 'Montserrat', sans-serif;
}