.center {
    text-align: center;
}

.left {
    text-align: left;
}

a:link {
    color: darkgray;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: darkgray;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: lightslategray;
    background-color: transparent;
    text-decoration: underline;
  }